[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[packages]
snakemake = "*"
pandas = "*"
jupyter = "*"
seaborn = "*"
matplotlib = "*"
scikit_learn = "*"
numpy = "*"
Keras = "*"
tables = "*"
