[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"

[requires]
python_version = "3.6"

[packages]
snakemake = "*"
pandas = "*"
jupyter = "*"
seaborn = "*"
matplotlib = "*"
numpy = "*"
tables = "*"
scikit-learn = "*"
cellbell = "*"
keras-tqdm = "*"
pydot-ng = "*"
hyperopt = "*"
Keras = "*"
pymmwr = "*"
pytest = "*"
